:root {
  --side: 5px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #282828;
}

.particle {
  position: absolute;
  width: var(--side);
  height: var(--side);
  animation: movement 0s ease-out infinite; /*si tiene tiempo aqui, choca con el tiempo de app.tsx*/
  animation-name:  movement, fade;
}

@keyframes movement {
  0% {
    transform: translate(50vw, 50vh);
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}
